<section style="margin: 20px;">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let country of countries; let i = index;">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ country.name }}
        </mat-panel-title>
        <mat-panel-description>
          {{ country.description }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="content">
        <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' +
            country.flag" height="100" width="100" alt="country flag">
        <div class="content-text">
          <b>Population: </b>{{ country.population }}
          <b>Area : </b>{{ country.area }}
        </div>
        <mat-action-row>
          <button mat-stroked-button color="accent">Edit</button>
          <button mat-stroked-button color="accent"> Delete</button>
        </mat-action-row>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</section>




<section style="margin: 20px;">

  <cdk-accordion class="accordion">
    <cdk-accordion-item *ngFor="let country of countries; let index = index;" #accordionItem="cdkAccordionItem"
      class="accordion-item">
      <div class="accordion-item-header" (click)="accordionItem.toggle()">
        {{ country.name }}
        <span class="accordion-item-description">
          Click to {{ accordionItem.expanded ? 'close' : 'open' }}
        </span>
      </div>
      <div class="accordion-item-body" [style.display]="accordionItem.expanded ? '' : 'none'">
        {{ country.description }}
      </div>
    </cdk-accordion-item>
  </cdk-accordion>

</section>
