/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
mat-expansion-panel-header:hover {
  background: rgb(68, 137, 13) !important;
}
.accordion {
  display: block;
  max-width: 800px;
}

.accordion-item {
  display: block;
  border: solid 1px rgb(150, 147, 147);
}

.accordion-item + .accordion-item {
  border-top: none;
}

.accordion-item-header {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.accordion-item-description {
  font-size: 0.85em;
  color: #202cd6;
}

.accordion-item-header,
.accordion-item-body {
  padding: 10px;
}

.accordion-item-header:hover {
  cursor: pointer;
  background-color: rgb(143, 221, 78);
}

.accordion-item:first-child {
  border-radius: 4px 4px 0 0;
}
.accordion-item:last-child  {
  border-radius: 0 0 4px 4px;
}
